/* FOGLIO DI STILE */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


#carosello {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}


.immagini img {
  display: none;
  width: 1080px;
  height: 80vh;
}

#carosello i {
  font-size: 100px;
}

.immagini img.active {
  display: inline-block;
}

.pallini {
  text-align: center;
  margin-top:20px;
  font-size: 20px;
}

.pallini i {
  margin: 0 10px;
  opacity: 0.5;
}

.pallini .active {
  opacity: 1;
}
